<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="28"/>

    <uses-feature
        android:name="android.hardware.type.watch"
        android:required="true" />

    <!--
           This instructs the Home app to get the licenses from this app and
           show them on the Companion when requested.
    -->
    <meta-data
        android:name="com.google.android.clockwork.home.licenses"
        android:value="true" />
</manifest>
