<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.android.accessibility.switchaccess"
    android:sharedUserId="com.google.android.accessibility.switchaccess.uid">

    <!-- Required for bluetooth pairing in setup wizard. -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- Required for bluetooth pairing in setup wizard. -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <!-- Required for scanning nearby bluetooth devices in setup wizard. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Used for Primes to collect network data. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Used for Primes to collect package stats. -->
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />

    <!-- Used to control Primes collection using Gservices flags -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Used for adjusting volume with Do Not Disturb mode. -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-sdk android:targetSdkVersion="28" />

    <application
        android:supportsRtl="true"
        android:allowBackup="true"
        android:backupAgent="SwitchAccessBackupAgent">
        <service
            android:label="@string/switch_service_name"
            android:name="com.android.switchaccess.SwitchAccessService"
            android:icon="@drawable/ic_switch_access"
            android:exported="true"
            android:directBootAware="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />

                <category android:name="android.accessibilityservice.category.FEEDBACK_GENERIC" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/switch_access_accessibilityservice" />
        </service>

        <activity
            android:name="com.google.android.accessibility.switchaccess.SwitchAccessPreferenceActivity"
            android:exported="false"
            android:label="@string/switch_access_preferences_title"
            android:theme="@style/SwitchAccessSettings"
            android:directBootAware="true" >
        </activity>

        <!-- Some bluetooth devices change keyboard and navigation configuration when connected, so
             we want to handle keyboard and navigation configuration changes to prevent the activity
             restarting whenever a bluetooth device is paired. -->
        <activity
            android:name="com.google.android.accessibility.switchaccess.setupwizard.SetupWizardActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|navigation"
            android:theme="@style/SetupGuideStyle"
            android:directBootAware="true" >
        </activity>

        <activity android:name="com.google.android.accessibility.switchaccess.DialogActivity"
            android:theme="@style/AlertDialogStyle"
            android:directBootAware="true"
            android:exported="false"/>
    </application>
</manifest>


