<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2014 Google Inc. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.talkback.test"
    android:sharedUserId="com.google.android.marvin.feedback">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner" >
    </instrumentation>

</manifest>
